.layout-selection li {
  padding-bottom: 0 !important;
}

.layout-builder-browser-block-item,
.layout-selection li a
{
  display: flex;
  border-bottom: 1px solid #e2e8f0;
  align-items: center;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-left: -20px !important;
  margin-right: -20px !important;
  padding-left: 20px !important;
  color: #ffffff !important;
}

.layout-builder-browser-block-item:hover,
.layout-selection li a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
}

.layout-builder-browser-block-item img {
  flex: 0;
  margin-right: 10px;
}

.layout-builder-form-fixed {
  background-color: #222222;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.layout-builder-form-fixed summary {
  background-color: #333333;
  color: #eeeeee;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.layout-builder-form-fixed summary:hover {
  background-color: #222222;
}

.layout-builder-form-fixed .layout-builder__message {
  display: none;
}

.layout-builder > a.use-ajax {
  display: none;
}

.layout-overview-button {
  display: inline;
}

.layout-builder-form > .form-actions,
.layout-builder-form > .field--name-moderation-state {
  background-color: inherit;
  border: none;
  color: #eeeeee;
}

.layout-builder-form > .field--name-moderation-state select,
.layout-builder-form > .form-actions .button {
  color: #222222;
}

.layout-builder-form > .form-actions .button--primary {
  color: #eeeeee;
}

.layout-builder-form > .field--name-moderation-state {
  display: none;
  text-align: left;
}

.layout-builder-form > .field--name-moderation-state input,
.layout-builder-form > .field--name-moderation-state .button {
  color: #222222;
}

.scheduled-transition label {
  display: inline-block !important;
}

.scheduled-transition input {
  padding: 14px;
}

.scheduled-transition {
  font-size: 0.889rem;
  font-weight: bold;
}

.scheduled-transition > * {
  margin-right: 12px;
  margin-left: 20px;
}

#edit-moderation-state-wrapper {
  border-top: 1px solid #eeeeee;
}
